.dropdown-check-list {
    display: inline-block;
}

.dropdown-check-list #anchor-dd {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 2px solid #454545;
    border-radius: 6px;
}

.dropdown-check-list #anchor-dd:after {
    position: absolute;
    content: "";
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list #anchor-dd:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list:focus{
    border: 2px solid #007acc;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #454545;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    max-height: 200px;
        /* Maximální výška s možností skrolování */
    overflow-y: auto;
        /* Povolení skrolování, pokud je obsah větší než maximální výška */
}

.dropdown-check-list ul.items li {
    list-style: none;
}

#list1{
    margin: 10px 0;
}

.sensor-item, .sensor-item-all{
    margin: 2px 5px;
    background-color: #454545;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #454545;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}